body{background-clip white}
bady{background-color grid-row-end: }
a{text box-decoration-break: ;}
h1{background-color: rebeccapurple;}
use{this property backg color: grid-row-end:;;}
p { color: blue; }
h1 { color: red; }
body { background-color: greenyellow; }
 
main{color: red;}
h1{background-color: mediumaquamarine;}
